<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="rviz_config" default="$(find smb_estimator_graph)/rviz/slam_tutorial.rviz"/>
  <arg name="launch_rviz" default="true"/>

  <node name="rviz_slam_tutorial" pkg="rviz" type="rviz"
        args="-d $(arg rviz_config)"
        if="$(arg launch_rviz)">
  </node>


</launch>